# Local build artifacts
target

# Data folder
data

# Test harness data folder (generated RSA keys, etc.)
testing/data

# Local, non-committed tracking docs
TESTING.md

# IDE files
.vscode
.idea
*.iml

# Environment file
.env

# Web vault
web-vault
